{{ form_start(formplaylist, {'attr': {'class': 'form'}}) }}
<div class="row">
    <div class="col">             
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(formplaylist.name, {'attr': {'class': 'form-control', 'placeholder': 'Playlist'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(formplaylist.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(formplaylist.formations, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4 offset-md-4">
                <div class="form-group mt-3">
                    {{ form_row(formplaylist.submit, {'attr': {'class': 'btn btn-success btn-block'}}) }}
                </div>  
        </div>
    </div>
</div>
{{ form_end(formplaylist) }}
